<div>
<h1>Stupid Coaching</h1>
  <div class="card bg-light">
    <p><%= @question %></p>
    <p>You</p>
  </div>
  <br>
  <div class="card bg-light">
    <p><%= @answer %></p>
    <p>Your coach</p>
  </div>
  <a><%= link_to "Ask a new question", ask_path %></a>
</div>
